<header>
  <div class="header-content clearfix">
    <div class="header-text">
      <span>Bookers</span>
    </div>
    <% if user_signed_in? %>
      <div class="header-icon">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        <%= link_to 'Home', user_path(@a.id) %>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <%= link_to 'Users', users_path %>
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        <%= link_to 'Books', books_path %>
        <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      </div>
    <% else %>
      <div class="header-icon">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        <%= link_to 'Home', root_path %>
        <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        <%= link_to 'About', '/home/about' %>
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <%= link_to 'Sign Up', new_user_registration_path %>
        <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
        <%= link_to 'Login', new_user_session_path %>
      </div>
    <% end %>
</header>

<div class="form">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :name%><br />
    <%= f.text_field :name, autofocus: true  %>
  </div>


  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>

<footer>
  <p>CopyRight GoneNeko</p>
</footer>